* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .25rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .7);
  padding: .5rem .25rem;
}

#cp-error {
  color: red;
  font-size: .8rem;
  opacity: 0;
}

.icon-container {
  position: relative;
}

.icon {
  position: absolute;
  top: 55%;
  right: .5rem;
  z-index: 3;
  cursor: pointer;
}

::selection {
  background-color: white;
}